<% if user_signed_in? %>
        <section class="user_info">
          <h1><%= current_user.name %></h1>
          <%= gravatar_for current_user %>
          <span><%= link_to "view my profile", current_user %></span>
          <span><%= pluralize(current_user.posts.count, "post") %></span>
        </section>

        <% @user ||= current_user %>
        <div class="stats">
          <a href="<%= following_user_path(@user) %>">
              <%= @user.following.count %>
            following
          </a>
          <a href="<%= followers_user_path(@user) %>">
              <%= @user.followers.count %>
            followers
          </a>

    <section class="post_form">
      <%= form_for(@post) do |f| %>
        <p><%= f.label :title, '題目' %>
           <%= f.text_field :title %> 
        </p>
        <p>
          <%= f.label :title, '内容' %>
          <%= f.text_area :content, placeholder: "Compose new post..." %>
        </p>
        <%= f.collection_select :gym_id, Gym.all, :id, :name, include_blank: '選択して下さい' %>
        <%= f.submit "Post", class: "btn btn-primary" %>
      <% end %>


          <% if @feed_posts.any? %>
            <ol class="posts">
              <%= render @feed_posts %>
            </ol>
            <%= will_paginate @feed_posts %>
          <% end %>

  </div>
<% else %>
    <h1>ようこそ、Goトレーニングへ！</1>
    <%= link_to "新規登録はこちら！", new_user_registration_path, class: 'post' %>
<% end %>