<h1>投稿一覧</h1>

<%= search_form_for @q do |f| %>
    <%= f.label :ジム名 %>
    <%= f.collection_select :gym_name_cont, Gym.all, :name, :name, {include_blank: '選択してください'}%>
    <%= f.button :search %>
  <%- end %>

<% @posts.each do |post| %>
    <%= gravatar_for post.user %>
    <span><%= link_to post.user.name, post.user %></span>
    <span><%= post.title %></span>
    <span><%= post.content %></span>
    <span>At <%= post.gym.name %></span>
    <% if current_user?(post.user) %>
    <%= link_to "削除", post, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
    <% end %>